<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>Prescriber Letter</title>
    <meta name="author" content="Adil Rahman P A" />
    <meta name="subject" content="Adherence Report" />
    <meta name="keywords" content="member-letter" />
    <meta name="date" content="2014-07-15" />
    <!-- Latest compiled and minified CSS -->

</head>

<body>
    <div class="main-content">
        <div class="intro">
            <img src="<%= barcode %>" alt="">
        </div>
        <p><span class="report-date">Date: </span><span> <%= currentDate%> </span></p>

        <div class="patient-data">

            <address>

                <div class="subheader">
                    <%=patientInfo.firstName+ ' ' + patientInfo.middleName+ ' '+ patientInfo.lastName%>, </div>
                <div>
                    <%= patientInfo.primaryAddress.addressLine1StreetName %>
                </div>
                <div>
                    <%= patientInfo.primaryAddress.city %>, <%= patientInfo.primaryAddress.state %>,
                    <%= patientInfo.primaryAddress.zipCode %>
                </div>
                <div>
                    <span class="subheader">Member Id: </span><span>
                        <%= patientInfo.memberId %>
                    </span>
                </div>
            </address>
        </div>

        <div class="intro">
            Thank you for talking with me on <%= currentDate %> about your health and
            medications. Our medication adherence program helps you understand your
            medications and use them safely.
        </div>

        <div class="intro">
            This letter includes a summary of our discussion and an action plan (Medication
            Action Plan) and medication list (Personal Medication List). <span class="subheader">The action plan has
                steps you should take to help you get the best results from your medications.
                The medication list will help you keep track of your medications and how to use
                them the right way.
            </span>
        </div>

        <div class="prescriber-holder">

            <ul>
                <li>Have your action plan and medication list with you when you talk with your
                    doctors, pharmacists, and other health care providers in your care team.</li>
                <li>Ask your doctors, pharmacists, and other healthcare providers to update the
                    action plan and medication list at every visit.</li>
                <li>Take your medication list with you if you go to the hospital or emergency
                    room</li>
                <li>
                    Give a copy of the action plan and medication list to your family or
                    caregivers
                </li>
            </ul>
        </div>


        <div class="section-title intro">
            <div>Medication Action Plan For <%=patientInfo.firstName %> <%=patientInfo.lastName %>, DOB:
                <%= patientInfo.dob %>,
                <%= currentDate %>
            </div>
        </div>



        <table class="table">
            <thead class="header">

                <th>
                    Drug Name/ Strength
                </th>
                <!-- <th>
                    What we talked about
                </th>
                <th>
                    What I need to do
                </th> -->
                <% configs.forEach(function (recommendation) { %>
                <% if (recommendation.assignedLetters && recommendation.assignedLetters.includes('member')){ %>
                <th> <%= recommendation.description%> </th>
                <% } %>

                <% }) %>
            </thead>
            <tbody>
                <% medications.forEach(function (medication, index) { %>
                <% if (medication.therapies && medication.therapies.length){ %>
                <tr class="row">
                    <td>
                        <%= medication.medicationName %>
                    </td>
                    <% configs.forEach(function (config) { %>
                        <%if(config.assignedLetters && config.assignedLetters.includes('member')){  %>
                            <td>
                        <% medication.recommendations.forEach(function (recommendation) { %>
                        <% if (config.propertyName == recommendation.propertyName &&recommendation.assignedLetters && recommendation.assignedLetters.includes('member')){ %>
                           <div> <%= recommendation.value%></div>
                        <% } %>
                    
                   
                    <% }) %>
                </td>
                    <% } %>
                    <% }) %>
                  
                </tr>
                <% } %>
                <% }) %>

                <!-- </tr> -->




            </tbody>
        </table>

        <% if (overallRecommendationArray && overallRecommendationArray.length){ %>
        <div class="section-title intro">
            <div>Other General Concerns</div>
        </div>

        <table class="table">
            <thead class="header">

                <th>
                    Other
                </th>
                <th>
                    What we talked about
                </th>
                <th>
                    What I need to do
                </th>
            </thead>
            <tbody>

                <tr class="row">
                    <td>
                        Other
                    </td>
                    <td>
                        <% overallRecommendationArray.forEach(function (recommendation) { %>
                        <% if (recommendation.title.includes('Discussion with patient')){ %>
                        <%= recommendation.value%>
                        <% } %>

                        <% }) %>
                    </td>
                    <td>
                        <% overallRecommendationArray.forEach(function (recommendation) { %>
                        <% if (recommendation.title.includes('Identified Barrier')){ %>
                        <%= recommendation.value%>
                        <% } %>

                        <% }) %>
                    </td>
                </tr>



            </tbody>
        </table>

        <% } %>
        <div class="section-title intro">
            <div>Personal Medication List For <%=patientInfo.firstName+ ' ' +patientInfo.lastName %>, DOB:
                <%= patientInfo.dob %> as of <%= currentDate %>
            </div>
        </div>

        <div class="intro">
            <span class="subheader"> This medication list was made for you after we talked.</span>
            <ul>
                <li>Use blank rows to add new medications. Then fill in the dates you started
                    using them. </li>
                <li>Cross out medications when you no longer use them. Then write the date
                    and why you stopped using them. </li>
                <li>Ask your doctors, pharmacists, and other healthcare providers in your care
                    team to update this list at every visit.
                </li>
            </ul>
        </div>

        <div class="intro up-to-date">
            <div class="subheader"> Keep this list up-to-date with:</div>
            <ul>
                <li>Prescription medications </li>
                <li>Over the counter drugs </li>
                <li>Herbals
                </li>
                <li>Vitamins</li>
                <li>Minerals</li>
            </ul>

        </div>

        <div class="intro">
            <p>If you go to the hospital or emergency room, take this list with you. Share this
                with your family or caregivers too.
            </p>
            <p>
                I have included your Personal Medication List (PML). It is important to keep a
                full list of your medications with you when discussing your healthcare with your
                doctor, pharmacist and other caregivers.
            </p>
        </div>
        <div class="section-title intro">
            <div>Personal Medication List(PML) Of <%=patientInfo.firstName %> <%=patientInfo.lastName %> as of
                <%= currentDate %>
            </div>
        </div>
        <table class="table">
            <thead class="header">
                <th>
                    Sl No.
                </th>
                <th>
                    Drug Name/ Strength
                </th>
                <th>
                    Dosage
                </th>
                <th>
                    Prescriber
                </th>
                <th>
                    Pharmacy
                </th>
                <th>
                    Pharmacy Phone
                </th>
            </thead>
            <tbody>
                <% medications.forEach(function (medication, index) { %>
                <tr class="row">
                    <td>
                        <%= index+1 %>
                    </td>
                    <td>
                        <%= medication.medicationName %>
                    </td>
                    <td>
                        <%= medication.dosage %>
                    </td>
                    <td>
                        <%= medication.prescriberName %>
                    </td>
                    <td>
                        <%= medication.pharmacyName %>
                    </td>
                    <td>
                        <%= medication.pharmacyPhoneNumber %>
                    </td>
                </tr>
                <% })%>


            </tbody>
        </table>

        <div class="intro">
            The medication review is not intended to interfere with the care already
            provided by your physician(s). We have also shared a summary of the
            medication review and discussion with your physician(s) to coordinate your
            healthcare needs. If you have additional questions or need additional
            information, please call <%=client.name %> at <%= client.phoneNumber %> between the hours
            of 9Am to 5PM.
        </div>

        <div class="intro">
            Sincerly,
        </div>
        <div class="intro">
            <%=user.name %>, Clinician
        </div>

    </div>
    <div class="auto-gen">
        <!-- <p>The amount is collected on behalf of VPS Lakeshore Hospital.</p> -->
        <p> <%=patientInfo.firstName+ ' '+ patientInfo.lastName %>, <% patientInfo.memberId %></p>
    </div>

</body>
<style>
    /* this stylesheet is used when generating a PDF with PrinceXML or any other tool that understands the CSS used. */
    /* define a page */
    @page {
        size: 5.5in 8.5in;
        margin: 70pt 60pt 70pt;
    }

    @page: first {
        size: 5.5in 8.5in;
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    div.frontcover {
        page: cover;
        content: url("images/cover.png");
        width: 100%;
        height: 100%;
    }



    /* styles for the right hand spread
Bottom left we display the title of the book, bottom right the page using a CSS counter, top right the content of the current chapter */
    @page: right {
        @bottom-left {
            margin: 10pt 0 30pt 0;
            border-top: .25pt solid #666;
            content: "Our Cats";
            font-size: 9pt;
            color: #333;
        }

        @bottom-right {
            margin: 10pt 0 30pt 0;
            border-top: .25pt solid #666;
            content: counter(page);
            font-size: 9pt;
        }

        @top-right {
            content: string(doctitle);
            margin: 30pt 0 10pt 0;
            font-size: 9pt;
            color: #333;
        }
    }

    /* styles for the left hand spread 
Bottom right book title, bottom left current page */
    @page: left {

        @bottom-right {
            margin: 10pt 0 30pt 0;
            border-top: .25pt solid #666;
            content: "Our Cats";
            font-size: 9pt;
            color: #333;
        }

        @bottom-left {
            margin: 10pt 0 30pt 0;
            border-top: .25pt solid #666;
            content: counter(page);
            font-size: 9pt;
        }
    }

    /* first page */
    @page: first {
        @bottom-right {
            content: normal;
            margin: 0;
        }

        @bottom-left {
            content: normal;
            margin: 0;
        }
    }

    /* reset chapter and figure counters on the body */
    body {
        counter-reset: chapternum figurenum;
        font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
        line-height: 1.5;
        font-size: 11pt;
    }

    /* get the title of the current chapter - this will be the content of the h1 
reset figure counter as figures start from 1 in each chapter */
    h1 {
        string-set: doctitle content();
        page-break-before: always;
        counter-reset: figurenum;
        counter-reset: footnote;
        line-height: 1.3;
    }

    /* increment chapter counter */
    h1.chapter:before {
        counter-increment: chapternum;
        content: counter(chapternum) ". ";
    }

    /* increment and display figure counter */
    figcaption:before {
        counter-increment: figurenum;
        content: counter(chapternum) "-"counter(figurenum) ". ";
    }

    /* footnotes */
    .fn {
        float: footnote;
    }

    .fn {
        counter-increment: footnote;
    }

    .fn::footnote-call {
        content: counter(footnote);
        font-size: 9pt;
        vertical-align: super;
        line-height: none;
    }

    .fn::footnote-marker {
        font-weight: bold;
    }

    @page {
        @footnotes {
            border-top: 0.6pt solid black;
            padding-top: 8pt;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: bold;
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    h1+p,
    h2+p,
    h3+p {
        page-break-before: avoid;
    }

    table,
    figure {
        page-break-inside: avoid;
    }

    ul.toc {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* create page numbers using target-counter in the TOC */
    ul.toc a::after {
        content: leader('.') target-counter(attr(href), page);
    }

    ul.toc li {
        line-height: 2;
    }

    ul.toc li a {
        text-decoration: none;
    }

    a {
        color: #000;
    }

    /* add page number to cross references */
    a.xref:after {
        content: " (page "target-counter(attr(href, url), page) ")";
    }

    .report-date {
        font-weight: bold;
        font-size: 14px;
    }

    .main-content {
        margin: 37px;
    }

    .section-title {
        background: #000;
        color: #ffffff;
        height: 26px;
        width: 100%;
        padding: 10px;
        font-weight: bold;
        font-size: 16px;
        /* position: relative; */

        text-transform: uppercase;
        /* padding-left: 15px; */
    }

    .section-title>div {
        /* margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
    }

    .patient-data,
    .intro,
    .medication-info,
    .responses,
    table {
        margin-top: 37px;
        font-weight: 500;
    }

    .responses {
        width: 100%;
    }

    .subheader {
        font-weight: bold;
    }

    .prescriber-holder {
        display: flex;
        /* border-bottom: black;
            border-bottom-style: double; */
        margin-top: 37px;
    }

    .single-underline {
        border-bottom: black;
        border-bottom-style: solid;
        border-width: 2px;
    }

    .default-padding {
        padding-left: 37px;
    }

    .prescriber-holder>div.subheader {
        width: 5%;

    }

    .prescriber-holder>div {
        width: 95%;

    }

    html {
        zoom: .60;
    }

    .auto-gen {
        text-align: center;
        margin: 20px;
        margin-top: 40px;
        font-family: monospace;
    }

    .table {
        width: 100%;
        border-collapse: collapse;

    }

    table,
    th,
    td {
        border: solid 1px black;
        padding: 0px 10px 0px 10px;
        columns: #000000;
        font-weight: 400;
    }

    .header {
        font-size: 16px;
        font-weight: bold;
        background: lightgray;
    }

    .row {
        width: 100%;
        font-size: 16px;
        font-weight: 200;
    }

    .row>td,
    .header>th {
        width: 15%;
        text-align: center;
    }

    .row>td.sl-no,
    .header>th.sl-no {
        width: 5%;
    }

    .row>td.vehicle-no,
    .header>th.vehicle-no {
        width: 20%;
    }

    .up-to-date {
        border: #000000;
        width: 25%;
        border-width: thin;
        border-style: solid;
        padding: 5px;
    }
</style>

</html>