<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <meta charset="utf-8" />
  <title>Prescriber Letter</title>
  <meta name="author" content="Adil Rahman P A" />
  <meta name="subject" content="Adherence Report" />
  <meta name="keywords" content="cats,feline" />
  <meta name="date" content="2014-07-15" />
  <!-- Latest compiled and minified CSS -->

</head>

<body>
  <div class="main-content">
    <div class="intro">
      <img src="<%= barcode %>" alt="">
    </div>
    <p><span class="report-date">Date: </span><span> <%= currentDate%> </span></p>
    <div class="section-title">
      <div>Medication Adherence Issues</div>
    </div>
    <div class="patient-data">

      <address>
        <span class="subheader">Patient: </span>
        <span><%=patientInfo.firstName+ ' ' + patientInfo.middleName+ ' '+ patientInfo.lastName%>, </span>
        <span style="text-align-last: right">
          DOB :
          <%= new Date(patientInfo.dob).toDateString() %>, Phone: <%= patientInfo.primaryPhoneNumber%>, Health
          Plan:
          <%= patientInfo.contractName%></span></address>
    </div>

    <div class="prescriber-holder">

      <div class="subheader">To: </div>
      <div>
        <div>Dr. <%= patientInfo.primaryCarePhysicianName %>, </div>
        <div><%= patientInfo.primaryCarePhysicianAddress %></div>
        <div>Phone: <%= patientInfo.primaryCarePhysicianPhoneNumber %>, Fax:
          <%= patientInfo.primaryCarePhysicianFaxNumber %></div>
      </div>
    </div>

    <div class="intro">
      <p> Our review of pharmacy activity and discussion with the patient confirmed medication adherence issues
        identified
        below. Please review our findings and suggested actions and provide appropriate feedback.</p>
    </div>

    <% medications.forEach(function (medication) { %>
    <% if (medication.therapies && medication.therapies.length){ %>
    <div class="medication-info">
      <div><span class="subheader">Drug:</span> <%=medication.medicationName%>, <%= medication.prescriberName %>,
        <%=medication.pharmacyName%>, <%=medication.pharmacyPhoneNumber%></div>
      <% configs.forEach(function(config) { %>
      <% medication.recommendations.forEach(function (recommendation) { %>

      <% if (recommendation.assignedLetters.includes('prescriber') && config.propertyName == recommendation.propertyName){ %>
      <div><span class="subheader"><%= recommendation.title %>:</span>
        <%= recommendation.value%>
      </div>
      <% } %>
      <% }) %>
      <% })%>

    </div>
    <% } %>
    <% })%>
    <% if (overallRecommendationArray){ %>
    <div><span class="subheader">Other:</span> </div>
    <% configs.forEach(function(config) {%>
    <% overallRecommendationArray.forEach(function (recommendation) { %>


    <% if (recommendation.assignedLetters.includes('prescriber')&& config.propertyName == recommendation.propertyName){ %>
    <div><span class="subheader"><%= recommendation.title %>:</span>
      <%= recommendation.value%>
    </div>
    <% } %>
    <% }) %>
    <% })%>
    <% } %>

    <div class="intro">
      <span class="subheader">
        Recommended By:
      </span> <%= user.firstName %>, Clinician
    </div>

    <div class="intro">
      <span class="subheader single-underline">
        List of current medications
      </span>
    </div>

    <table class="table">
      <thead class="header">
        <th>
          Sl No.
        </th>
        <th>
          Drug Name/ Strength
        </th>
        <th>
          Dosage
        </th>
        <th>
          Prescriber
        </th>
        <th>
          Pharmacy
        </th>
        <th>
          Pharmacy Phone
        </th>
      </thead>
      <tbody>
        <% medications.forEach(function (medication, index) { %>
        <tr class="row">
          <td>
            <%= index+1 %>
          </td>
          <td>
            <%= medication.medicationName %>
          </td>
          <td>
            <%= medication.dosage %>
          </td>
          <td>
            <%= medication.prescriberName %>
          </td>
          <td>
            <%= medication.pharmacyName %>
          </td>
          <td>
            <%= medication.pharmacyPhoneNumber %>
          </td>
        </tr>
        <% })%>


      </tbody>
    </table>


    <div class="section-title intro">
      <div>RESPONSE REQUESTED WITHIN 2 WORKING DAYS</div>
    </div>

    <div class="responses single-underline">
      <span class="subheader">Accepted:</span> <span>[] The following suggested actions are accepted.</span>
    </div>

    <div class="responses single-underline">
      <span class="subheader">Declined: [] The following suggested actions are <span class="single-underline">not</span>
        accepted.</span>
    </div>

    <div class="responses single-underline">
      <span class="subheader">Rationale for declining recommended actions:</span>
    </div>
  </div>
  <div class="auto-gen">
    <!-- <p>The amount is collected on behalf of VPS Lakeshore Hospital.</p> -->
    <p> NOTICE: This information transmitted only for the intended recipient(s) and may contain confidential
      information. If you
      received this material/information in error or are not the intended recipient, please contact the sender and
      destroy</p>
  </div>

</body>
<style>
  /* this stylesheet is used when generating a PDF with PrinceXML or any other tool that understands the CSS used. */
  /* define a page */
  @page {
    size: 5.5in 8.5in;
    margin: 70pt 60pt 70pt;
  }

  @page: first {
    size: 5.5in 8.5in;
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  div.frontcover {
    page: cover;
    content: url("images/cover.png");
    width: 100%;
    height: 100%;
  }



  /* styles for the right hand spread
Bottom left we display the title of the book, bottom right the page using a CSS counter, top right the content of the current chapter */
  @page: right {
    @bottom-left {
      margin: 10pt 0 30pt 0;
      border-top: .25pt solid #666;
      content: "Our Cats";
      font-size: 9pt;
      color: #333;
    }

    @bottom-right {
      margin: 10pt 0 30pt 0;
      border-top: .25pt solid #666;
      content: counter(page);
      font-size: 9pt;
    }

    @top-right {
      content: string(doctitle);
      margin: 30pt 0 10pt 0;
      font-size: 9pt;
      color: #333;
    }
  }

  /* styles for the left hand spread
Bottom right book title, bottom left current page */
  @page: left {

    @bottom-right {
      margin: 10pt 0 30pt 0;
      border-top: .25pt solid #666;
      content: "Our Cats";
      font-size: 9pt;
      color: #333;
    }

    @bottom-left {
      margin: 10pt 0 30pt 0;
      border-top: .25pt solid #666;
      content: counter(page);
      font-size: 9pt;
    }
  }

  /* first page */
  @page: first {
    @bottom-right {
      content: normal;
      margin: 0;
    }

    @bottom-left {
      content: normal;
      margin: 0;
    }
  }

  /* reset chapter and figure counters on the body */
  body {
    counter-reset: chapternum figurenum;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.5;
    font-size: 11pt;
  }

  /* get the title of the current chapter - this will be the content of the h1
reset figure counter as figures start from 1 in each chapter */
  h1 {
    string-set: doctitle content();
    page-break-before: always;
    counter-reset: figurenum;
    counter-reset: footnote;
    line-height: 1.3;
  }

  /* increment chapter counter */
  h1.chapter:before {
    counter-increment: chapternum;
    content: counter(chapternum) ". ";
  }

  /* increment and display figure counter */
  figcaption:before {
    counter-increment: figurenum;
    content: counter(chapternum) "-"counter(figurenum) ". ";
  }

  /* footnotes */
  .fn {
    float: footnote;
  }

  .fn {
    counter-increment: footnote;
  }

  .fn::footnote-call {
    content: counter(footnote);
    font-size: 9pt;
    vertical-align: super;
    line-height: none;
  }

  .fn::footnote-marker {
    font-weight: bold;
  }

  @page {
    @footnotes {
      border-top: 0.6pt solid black;
      padding-top: 8pt;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1+p,
  h2+p,
  h3+p {
    page-break-before: avoid;
  }

  table,
  figure {
    page-break-inside: avoid;
  }

  ul.toc {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* create page numbers using target-counter in the TOC */
  ul.toc a::after {
    content: leader('.') target-counter(attr(href), page);
  }

  ul.toc li {
    line-height: 2;
  }

  ul.toc li a {
    text-decoration: none;
  }

  a {
    color: #000;
  }

  /* add page number to cross references */
  a.xref:after {
    content: " (page "target-counter(attr(href, url), page) ")";
  }

  .report-date {
    font-weight: bold;
    font-size: 14px;
  }

  .main-content {
    margin: 37px;
  }

  .section-title {
    background: #000;
    color: #ffffff;
    height: 26px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    /* position: relative; */

    text-transform: uppercase;
    /* padding-left: 15px; */
  }

  .section-title>div {
    /* margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
  }

  .patient-data,
  .intro,
  .medication-info,
  .responses,
  table {
    margin-top: 37px;
    font-weight: 500;
  }

  .responses {
    width: 100%;
  }

  .subheader {
    font-weight: bold;
  }

  .prescriber-holder {
    display: flex;
    /* border-bottom: black;
            border-bottom-style: double; */
    margin-top: 37px;
  }

  .single-underline {
    border-bottom: black;
    border-bottom-style: solid;
    border-width: 2px;
  }



  .prescriber-holder>div.subheader {
    width: 5%;

  }

  .prescriber-holder>div {
    width: 95%;

  }

  html {
    zoom: .60;
  }

  .auto-gen {
    text-align: center;
    margin: 20px;
    margin-top: 40px;
    font-family: monospace;
  }

  .table {
    width: 100%;
    border-collapse: collapse;

  }

  table,
  th,
  td {
    border: solid 1px black;
    padding: 0px 10px 0px 10px;
    columns: #000000;
    font-weight: 400;
  }

  .header {
    font-size: 16px;
    font-weight: bold;
    background: lightgray;
  }

  .row {
    width: 100%;
    font-size: 16px;
    font-weight: 200;
  }

  .row>td,
  .header>th {
    width: 15%;
    text-align: center;
  }

  .row>td.sl-no,
  .header>th.sl-no {
    width: 5%;
  }

  .row>td.vehicle-no,
  .header>th.vehicle-no {
    width: 20%;
  }
</style>

</html>
